/* =============================================== */
/*                    UC THEME               */
/* =============================================== */

[data-theme="uc-theme-light"] {
  --theme-background: var(--palette-uc-blanco);
  --theme-foreground: var(--palette-uc-negro);
  
  --theme-primary: var(--palette-uc-celeste);
  --theme-primary-foreground: var(--palette-uc-blanco);
  
  --theme-secondary: var(--palette-uc-amarillo);
  --theme-secondary-foreground: var(--palette-uc-azul);

  --theme-tertiary: var(--palette-soft-gray-200);
  --theme-tertiary-foreground: var(--palette-uc-blanco);
  
  --theme-muted: var(--palette-uc-gris-claro-b);
  --theme-muted-foreground: var(--palette-uc-gris-oscuro-b);
  
  --theme-accent: var(--palette-uc-azul);
  --theme-accent-foreground: var(--palette-uc-celeste);
  
  --theme-destructive: var(--palette-uc-danger);
  --theme-destructive-foreground: var(--palette-uc-negro);
  
  --theme-border: var(--palette-uc-gris-claro-a);
  --theme-input: var(--palette-uc-blanco);
  --theme-ring: var(--palette-uc-azul-oscuro);

  /* Functional colors for app-specific features */
  --theme-route-primary: var(--palette-pastel-lavender);
  --theme-route-border: var(--palette-pastel-lilac);
  --theme-focus-indicator: var(--palette-uc-celeste);

  /* Chart Colors */
  --theme-chart-0: var(--palette-uc-sign-blue);
  --theme-chart-1: var(--palette-uc-sign-light-blue);
  --theme-chart-2: var(--palette-uc-sign-gray);
  --theme-chart-3: var(--palette-uc-sign-gray);
  --theme-chart-4: var(--palette-uc-sign-gray);
  --theme-chart-5: var(--palette-uc-sign-gray);
  --theme-chart-6: var(--palette-uc-sign-gray);
  --theme-chart-7: var(--palette-uc-sign-gray);
  --theme-chart-8: var(--palette-uc-sign-gray);
  --theme-chart-9: var(--palette-uc-sign-gray);
  --theme-chart-10: var(--palette-uc-sign-gray);
  --theme-chart-11: var(--palette-uc-sign-gray);
  --theme-chart-12: var(--palette-uc-sign-gray);
  --theme-chart-13: var(--palette-uc-sign-gray);
}
