/* =============================================== */
/*                    UC THEME               */
/* =============================================== */

[data-theme="uc-theme"] {
  --theme-background: var(--palette-uc-blanco);
  --theme-foreground: var(--palette-uc-negro);
  
  --theme-primary: var(--palette-uc-celeste);
  --theme-primary-foreground: var(--palette-uc-blanco);
  
  --theme-secondary: var(--palette-uc-amarillo);
  --theme-secondary-foreground: var(--palette-uc-azul);

  --theme-tertiary: var(--palette-soft-gray-200);
  --theme-tertiary-foreground: var(--palette-uc-blanco);
  
  --theme-muted: var(--palette-uc-gris-oscuro-a);
  --theme-muted-foreground: var(--palette-uc-gris-oscuro-b);
  
  --theme-accent: var(--palette-uc-azul);
  --theme-accent-foreground: var(--palette-uc-celeste);
  
  --theme-destructive: var(--palette-uc-danger);
  --theme-destructive-foreground: var(--palette-uc-negro);
  
  --theme-border: var(--palette-uc-gris-claro-a);
  --theme-input: var(--palette-uc-blanco);
  --theme-ring: var(--palette-uc-azul-oscuro);

  /* Functional colors for app-specific features */
  --theme-route-primary: var(--palette-pastel-lavender);
  --theme-route-border: var(--palette-pastel-lilac);
  --theme-focus-indicator: var(--palette-uc-celeste);

  /* Chart Colors */
  --theme-chart-0: var(--palette-pink);
  --theme-chart-1: var(--palette-yellow);
  --theme-chart-2: var(--palette-green);
  --theme-chart-3: var(--palette-teal);
  --theme-chart-4: var(--palette-purple);
  --theme-chart-5: var(--palette-blue);
  --theme-chart-6: var(--palette-deep-green);
  --theme-chart-7: var(--palette-deep-purple);
  --theme-chart-8: var(--palette-deep-gray);
  --theme-chart-9: var(--palette-gray);
  --theme-chart-10: var(--palette-deep-orange);
  --theme-chart-11: var(--palette-bright-purple);
  --theme-chart-12: var(--palette-orange);
  --theme-chart-13: var(--palette-red);
}
