@theme static inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--red);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-red: var(--red);
	--color-red-light: var(--red-light);
	--color-green: var(--green);
	--color-green-light: var(--green-light);
	--color-blue: var(--blue);
	--color-blue-light: var(--blue-light);
	--color-purple: var(--purple);
	--color-purple-light: var(--purple-light);
	--color-pink: var(--pink);
	--color-pink-light: var(--pink-light);
	--color-orange: var(--orange);
	--color-orange-light: var(--orange-light);

	/* Custom breakpoints */
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1154px;
}

:root {
	--radius: 0.625rem;
	--background: oklch(0.98 0 0);
	--foreground: oklch(0 0 0);
	--card: oklch(0.9851 0 0);
	--card-foreground: oklch(0 0 0);
	--popover: oklch(0.9851 0 0);
	--popover-foreground: oklch(0 0 0);
	--primary: oklch(0.35 0.30 260);
	--primary-foreground: oklch(0.95 0.15 260);
	--muted: oklch(0.95 0 0);
	--muted-foreground: oklch(0.33 0 0);
	--accent: oklch(0.995 0 260);
	--accent-foreground: oklch(0.33 0 260);
	--border: oklch(0.935 0 0);
	--input: oklch(0.535 0 0);
	--ring: oklch(0.40 0.30 260);
	--red: oklch(0.18 0.3 20);
	--red-light: oklch(0.95 0.3 20);
	--green: oklch(0.40 0.30 139.2308);
	--green-light: oklch(0.93 0.167 139.2308);
	--blue: oklch(0.40 0.30 260);
	--blue-light: oklch(0.95 0.15 260);
	--purple: oklch(0.30 0.30 285.31);
	--purple-light: oklch(0.95 0.30 285.31);
	--pink: oklch(0.18 0.30 349.85);
	--pink-light: oklch(0.98 0.30 349.85);
	--orange: oklch(0.257 0.30 54);
	--orange-light: oklch(0.98 0.30 54);
}