/* Theme variables and color definitions */
@theme static inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--red);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-red: var(--red);
  --color-red-light: var(--red-light);
  --color-green: var(--green);
  --color-green-light: var(--green-light);
  --color-blue: var(--blue);
  --color-blue-light: var(--blue-light);
  --color-purple: var(--purple);
  --color-purple-light: var(--purple-light);
  --color-pink: var(--pink);
  --color-pink-light: var(--pink-light);
  --color-orange: var(--orange);
  --color-orange-light: var(--orange-light);

  /* Custom breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1154px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.10 0.0244 54.74);
  --foreground: oklch(0.9785 0.0067 97.35);
  --card: oklch(0.10 0.0244 54.74 / 20%);
  --card-foreground: oklch(0.9785 0.0067 97.35);
  --popover: oklch(0.10 0.0244 54.74 / 20%);
  --popover-foreground: oklch(0.9785 0.0067 97.35);
  --primary: oklch(0.55 0.25 261.72);
  --primary-foreground: oklch(0.98 0.25 261.72);
  --muted: oklch(0.10 0.0244 54.74 / 50%);
  --muted-foreground: oklch(0.9785 0.0067 97.35 / 50%);
  --accent: oklch(0.935 0 0);
  --accent-foreground: oklch(0.235 0 0);
  --border: oklch(0.60 0.0244 54.74);
  --input: oklch(0.60 0.0244 54.74);
  --ring: oklch(0.55 0.25 261.72);
  --red: oklch(0.6122 0.2313 22.61);
  --red-light: oklch(0.95 0.2313 22.61);
  --green: oklch(0.6122 0.2004 126.3);
  --green-light: oklch(0.95 0.2004 126.3);
  --blue: oklch(0.55 0.25 261.72);
  --blue-light: oklch(0.95 0.25 261.72);
  --cyan: oklch(0.6122 0.1212 187.13);
  --cyan-light: oklch(0.95 0.1212 187.13);
  --purple: oklch(0.6122 0.0785 329.75);
  --purple-light: oklch(0.95 0.0785 329.75);
  --pink: oklch(0.6122 0.1605 2.28);
  --pink-light: oklch(0.95 0.26 349.85);
  --orange: oklch(0.6122 0.1713 59.77);
  --orange-light: oklch(0.95 0.1713 59.77);
}