NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_BASE_URL=
API_UBICATE_SECRET=
DATABASE_URL="postgresql://postgres:admin@localhost:5432/ubicate?schema=public"
NEXT_PUBLIC_IS_SELF_HOST="FALSE"
INDEX_PAGE="FALSE"
OUTBOUND_PROXY=
RUNTIME="nodejs"
