@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/InstrumentSans-Bold.ttf") format("truetype");
  }

  @font-face {
      font-family: 'Instrument Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("fonts/InstrumentSans-SemiBold.ttf") format("truetype");
  }

  @font-face {
      font-family: 'Instrument Sans';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url("fonts/InstrumentSans-Medium.ttf") format("truetype");
  }

  @font-face {
      font-family: 'Instrument Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("fonts/InstrumentSans-Regular.ttf") format("truetype");
  }
}