@import 'tailwindcss';
/* ---break---*/
@plugin 'tailwindcss-animate';
/* ---break---*/
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1154px;

  --color-error: #be6069;
  --color-info: #5d81ac;
  --color-success: #a4c18b;
  --color-warning: #ebca89;
  --color-dark-1: #4d576a;
  --color-dark-2: #444d5f;
  --color-dark-3: #3c4353;
  --color-dark-4: #2f3541;
  --color-light-1: #f2f4f8;
  --color-light-2: #e5e9f0;
  --color-light-3: #d8dee9;
  --color-light-4: #c1c8d7;
  --color-sidebar-color: rgb(35, 55, 75, 90%);

  --color-blue-location: #015fff;
  --color-brown-dark: #150a04;
  --color-brown-medium: #39302b;
  --color-brown-light: #8a817c;
  --color-white-ubi: #f9f8f3;
  --color-pink-option: #e86a92;
  --color-red-option: #ef233c;
  --color-green-option: #98ce00;
  --color-cyan-option: #03b5aa;
  --color-orange-option: #f58a07;
  --color-gray-option: #2C4251;
  --color-purple-option: #361134;
  --color-deep-green-option: #2A4D14;
  --color-deep-cyan-option: #28536B;
  --color-deep-red-option: #5F021F;

  --text-4xl: 3.25rem;
  --text-4xl--line-height: 1.1;
  --text-3xl: 3rem;
  --text-3xl--line-height: 1.2;
  --text-2xl: 2.5rem;
  --text-2xl--line-height: 1.2;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.3;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.4;
  --text-md: 1rem;
  --text-md--line-height: 1.5;

  --font-sans: var(--font-instrument-sans);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%,
      var(--tw-gradient-stops));

  --radius-menu: 2.1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* ---break---*/
:root {
  --background: var(--color-brown-dark);
  --foreground: var(--color-white-ubi);
  --card: var(--color-brown-dark);
  --card-foreground: var(--color-white-ubi);
  --popover: var(--color-brown-dark);
  --popover-foreground: var(--color-white-ubi);
  --primary: var(--color-blue-location);
  --primary-foreground: var(--color-white-ubi);
  --secondary: var(--color-brown-medium);
  --secondary-foreground: var(--color-white-ubi);
  --muted: var(--color-brown-light);
  --muted-foreground: var(--color-brown-dark);
  --accent: var(--color-brown-light);
  --accent-foreground: var(--color-white-ubi);
  --destructive: var(--color-red-option);
  --destructive-foreground: var(--color-white-ubi);
  --border: var(--color-brown-medium);
  --input: var(--color-brown-light);
  --ring: var(--color-blue-location);
  --chart-1: var(--color-green-option);
  --chart-2: var(--color-cyan-option);
  --chart-3: var(--color-orange-option);
  --chart-4: var(--color-purple-option);
  --chart-5: var(--color-deep-green-option);
  --radius: 0.6rem;
}

/* ---break---*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* ---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Añadirlo en base permite ser sobreescrito */
@layer base {
  [data-slot="icon"] {
    @apply w-6 h-6 fill-white-ubi flex justify-center items-center;
  }
}